main.messages {
  background: white;
  font-family: $message-username-font;
  height: 80vh;
  padding: 1rem 0;
  overflow-y: auto;
  div.message {
    word-wrap: break-word;
    margin-bottom: 1.1em;
  }
  div.message-username {
    font-weight: bold;
  }
  div.message-content {
    margin-top: 0.3em;
  }
  div.notification {
    font-style: italic;
  }
}