main.messages {
  background: white;
  font-family: $message-username-font;
  height: 80vh;
  padding: $main-padding;
  div.message {
    margin-bottom: 1.1em;
  }
  div.message-username {
    font-weight: bold;
  }
  div.message-content {
    margin-top: 0.3em;
  }
  div.notification {
    padding-left: 25%;
    font-style: italic;
  }
}