nav.navbar {
  font-family: $nav-font;
  background-color: $theme-color;
  * {
    color: white;
  }
  .navbar-brand {
    font-size: 2em;
    font-weight: bold;
  }
  .client-status {
    font-size: 1.1em;
  }
}