@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700|Roboto+Slab:300,700');
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css");

$theme-color: #6457A6;
$bg-color:rgb(249, 248, 255);
$nav-font: 'Roboto Slab', serif;
$message-username-font: 'PT Sans', sans-serif;
$main-padding: 1rem;